@media (max-width:500px) {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Splash&display=swap');

  * {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  /* -----------------------
thish is header section - start
-------------------------- */

main{
  padding-top: 10vh;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  align-items: center;
  padding-bottom: 195vh;
}
  .first-section {
    display:grid;
    justify-content:center;
    align-items: center;
    width: 15vh;
    height: 62.7vh;
    padding-top: 0px;
    background-color: rgb(9, 9, 9);
    padding-left: 115px;
    padding-right: 115px;
    border-radius: 60px;
  }
  #first-container {
    height: 10vh;
    width: 50vw;
    padding-right: 1vw;
  }
  #first-container article{
    display: grid;
    grid-gap: 2px;
    padding-right: 10px;
    padding-top: 20px;
  }
  #first-container article h1 {
    text-align: center;
    color: whitesmoke;
    font-size: 35px;
    font-weight: bolder;
    padding-bottom: 10px;
  }
  #first-container article p {
    text-align: center;
    color: whitesmoke;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 20px;
    padding-left: 10px;
  }
  #first-container article #button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #first-#button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #DD0000;
    border: 5px solid #DD0000;
    font-size: 17px;
    font-weight: 900;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#secoend-container{
  padding-top: 124px;
  display: flex;
  justify-content: center;
}
  #secoend-container img {
    padding-top: 20vh;
    width: 50vw;
    height: 30vh;
  }
    /* -----------------------
thish is header section - start
-------------------------- */

  /* -----------------------
thish is main section - start
-------------------------- */
.seceond-section{
  display: grid;
  justify-content: center;
  align-items: center;
}
#third-container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  height: 35vh;
  width: 60vw;
  background-color: black;
  border-radius: 15px;
  margin: auto;
}
#sceond-button{
  width: 187px;
  height: 56px;
  border-radius: 50px;
  background-color: #DD0000;
  border: 5px solid #DD0000;
  font-size: 1.3em;
  font-weight: bolder;
  color: whitesmoke;
}
#forth-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-top: 5vh;
}
#first-blog{
  height: 100%;
  width: 100%;
}
#first-blog img{
  height: 15vh;
  width: 50vw;
}
#first-blog article p{
  text-align: center;
 }
 #first-blog article span{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}
#first-blog article #icon-img{
  padding-top: 10px;
  height: 20px;
  width: 20px;
}
#third-button{
  display: none;
  }

  /* -----------------------
thish is main section - end
-------------------------- */

/* -----------------------
thish is footer section - start
-------------------------- */
footer{
  display: grid;
  width: 100%;
  height: 51vh;
  justify-content: center;
  align-items: center;
  background-color: #161616;

}
.third-section{
  width: 90%;
}
c
.third-section p{
 display: flex;
 color: whitesmoke;
 justify-content: center;
 align-items: center;
 padding-bottom: 20px;
}
#fifth-container{
display: grid;
justify-content: center;
align-items:center ;

}
#fifth-container a{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
 text-decoration: none;
 color: whitesmoke;
 text-align: center;
}
}