@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Splash&display=swap');

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}
body {
  font-family: 'Poppins', sans-serif;
}
/* -----------------------
thish is header section - end
-------------------------- */
.first-section {
  display: flex;
 justify-content: space-between;
  align-items: center;
  width: 135vh;
  height: 85vh;
  background-color: black;
  padding-top:50px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 50px;
}

#first-container {
  height: 100%;
  width: 100%;
  padding-right: 15vw;
}

#first-container article p {
  color: whitesmoke;
  padding-bottom: 5vh;;
}

#first-container article h1 {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 45px;
  padding-bottom: 3vh;
}
#first-button{
width: 187px;
height: 56px;
border-radius: 50px;
background-color: #DD0000;
border: 5px solid #DD0000;
font-size: 1.3em;
font-weight: bolder;
color: whitesmoke;
}
#first-button:hover{
  cursor: pointer;
  background-image: linear-gradient(orange,red);
  color: black;
  border: 5px solid orangered;
}

#secoend-container img {
  padding-top: 20vh;
  width: 25vw;
  height:92vh;
}

/* -----------------------
thish is header section - end
-------------------------- */

/* -----------------------
thish is main section - start
-------------------------- */

main{
  padding-top: 10vh;
  display: flex;
}
.seceond-section{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 95vw;
}
#third-container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  height: 50vh;
  width: 15vw;
  background-color: black;
  border-radius: 15px;
}
#sceond-button{
  width: 187px;
  text-decoration: none;
  text-align:center ;
  height: 56px;
  border-radius: 50px;
  background-color: #DD0000;
  border: 5px solid #DD0000;
  font-size: 21px;
  font-weight: bolder;
  color: whitesmoke;
} 

#sceond-button:hover{
  cursor: pointer;
  background-image: linear-gradient(orange,red);
  color: rgb(6, 6, 6);
  border: 5px solid orangered;
}
#forth-container{
  padding-left: 2.5vw;
  height: 100%;
  width: 65vw;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#forth-container #first-blog center img{
  padding-left: 25px;
}
#vs{
  padding-left: 15px;
}
article{
  text-align: center;
}
/* -----------------------
thish is main section - end
-------------------------- */

/* -----------------------
thish is footer section - start
-------------------------- */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:35vh;
  width: 100%;
  background-color: #161616;
}
.third-section{
  width: 70%;
}

.third-section p{
 display: flex;
 color: whitesmoke;
 justify-content: center;
 align-items: center;
 padding-bottom: 20px;
}
#fifth-container{
display: flex;
justify-content: center;
}
#fifth-container a{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
 text-decoration: none;
 color: whitesmoke;
}
/* -----------------------
thish is footer section - end
-------------------------- */